app/views/markup/employees.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Сотрудники</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/advert/advert.css" rel="stylesheet">
    <link href="../../assets/stylesheets/global.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body>

    <!-- alert -->
    <div class="alert alert-danger alert-dismissible alert-pop-out col-xs-12 col-sm-5 col-sm-push-7 col-md-4 col-md-push-8 fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4>Ошибка</h4>
      <p>Вы ввели неверные данные</p>
    </div>

    <div class="container-fluid">

      <!-- Навигационная панель -->
      <div class="row">
        <div class="header">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-shop-select dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Название компании <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Компания 1<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                    <li><a href="">Компания 2<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                    <li><a href="">Компания 3<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="" data-toggle="modal" data-target="#company-add-modal">Добавить компанию</a></li>
                  </ul>
                </div>
              </div>

              <!-- Модальное окно добавления компании -->
              <div class="modal fade" id="company-add-modal" tabindex="-1" role="dialog" aria-labelledby="company-add-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="company-add-modal-label">Добавить компанию</h4>
                    </div>

                    <div class="modal-body">
                      <form>
                        <div class="content">
                          <div class="row">

                            <div class="form-group col-xs-12">
                              <label for="company-add-modal-name-input">Название</label>
                              <input id="company-add-modal-name-input" type="text" class="form-control" placeholder="Название">
                            </div>

                            <div class="form-group col-xs-12">
                              <label for="company-add-modal-name-input">Описание</label>
                              <textarea id="company-add-modal-name-input" class="form-control" placeholder="Описание" rows="4"></textarea>
                            </div>

                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                      <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Модальное окно добавления компании -->

              <div class="collapse navbar-collapse" id="navbar-user-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="">
                      <span class="glyphicon glyphicon-bell"></span>
                      <span class="badge">2</span>
                    </a>
                  </li>
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Имя Пользователя <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="">Счет</a></li>
                      <li><a href="">Бонусы</a></li>
                      <li><a href="">Параметры</a></li>
                      <li class="divider"></li>
                      <li><a href="">Выйти <span class="glyphicon glyphicon-off"> </span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>
          </nav>
        </div>
      </div>
      <!-- Навигационная панель -->

      <div class="row">

        <div id="mainMenu" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-list"></span> Офферы</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-shopping-cart"></span> Товары</a></li>
            <li class="active"><a href=""><span class="glyphicon glyphicon-user"></span> Сотрудники<span class="sr-only">(текущая)</span></a></li>
            <li><a href=""><span class="glyphicon glyphicon-usd"></span> Деньги</a></li>
            <li><a href=""><span class="glyphicon glyphicon-comment"></span> Сообщения</a><span class="badge">1</span></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span> Статистика</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-cog"></span> Параметры</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-push-3 col-md-10 col-md-push-2 main">

          <h1 class="page-header">Сотрудники</h1>

          <div class="row">
            <div class="col-md-3 col-md-push-9 col-sm-6 col-sm-push-6 col-xs-7 col-xs-push-5">
              <div class="form-group">
                <label for="search" class="sr-only">Поиск</label>
                <input name="search" type="search" class="form-control" placeholder="Поиск" autofocus>
              </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-md-pull-3 col-xs-5 col-xs-pull-7">
              <button class="btn btn-primary" data-toggle="modal" data-target="#employees-add-modal">
                <span class="glyphicon glyphicon-plus"> </span> Добавить
              </button>
            </div>
          </div>
          <br>

          <!-- Modal -->
          <div class="modal fade" id="employees-add-modal" tabindex="-1" role="dialog" aria-labelledby="employees-add-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="employees-add-modal-label">Добавить сотрудника</h4>
                </div>

                <div class="modal-body">
                  <form>
                    <div class="content">
                      <div class="row">

                        <div class="form-group col-xs-12">
                          <label for="offers-add-modal-company-input">email</label>
                          <input id="offers-add-modal-company-input" type="email" class="form-control" placeholder="email">
                        </div>

                        <div class="form-group col-xs-12">
                          <label>Роли</label>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="1" checked>
                              Админ
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="2">
                              Кладовщик
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="2">
                              Роль
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary">Сохранить</button>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="responsive-table">
                <table class="table orders-table table-hover">
                  <thead>
                    <tr>
                      <th>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default clearfix">Роль</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                          </ul>
                        </div>
                      </th>
                      <th>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">Фамилия</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                          </ul>
                        </div>
                      </th>
                      <th>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">Имя</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                          </ul>
                        </div>
                      </th>
                      <th>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">email</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                          </ul>
                        </div>
                      </th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td><button type="button" class="offers-list-offer-status btn btn-success btn-xs">Кладовщик</button></td>
                      <td>Бесбаев</td>
                      <td>Болат</td>
                      <td>bol.bes@mail.ru</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                      <td><a href="" class="lock off" data-toggle="popover" data-trigger="hover" data-placement="left" title="Заблокировать сотрудника" data-content="Запретить сотруднику работать в компании"><span class="glyphicon glyphicon-lock"></span></a></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Модальное окно редактирование инфо о сотруднике -->
          <div class="modal fade" id="employees-list-employee-modal" tabindex="-1" role="dialog" aria-labelledby="employees-list-employee-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="employees-list-employee-modal-label">Редактировать информацию о сотруднике</h4>
                </div>

                <div class="modal-body">
                  <form>
                    <div class="content">
                      <div class="row">

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-firstname-input">Имя</label>
                          <input id="employees-list-employee-modal-firstnam-input" type="text" class="form-control" placeholder="Имя" value="Болат" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-lastname-input">Фамилия</label>
                          <input id="employees-list-employee-modal-lastname-input" type="text" class="form-control" placeholder="Фамилия" value="Бесбаев" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-description-input">Пароль</label>
                          <input id="employees-list-employee-modal-description-input" type="password" class="form-control" placeholder="Пароль" value="12345678">
                        </div>

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-company-input">email</label>
                          <input id="employees-list-employee-modal-company-input" type="email" class="form-control" placeholder="email" value="bol.bes@mail.ru">
                        </div>

                        <div class="form-group col-xs-12">
                          <label>Роли</label>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="1" checked>
                              Админ
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="2" checked>
                              Кладовщик
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="2">
                              Роль
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary">Сохранить</button>
                </div>

              </div>
            </div>
          </div>
          <!-- Модальное окно редактирование инфо о сотруднике -->

        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
    </script>

    <script type="text/javascript">
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
    </script>

  </body>
</html>

app/views/markup/employees.html.haml
!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Сотрудники
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert/advert.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    / alert
    .alert.alert-danger.alert-dismissible.alert-pop-out.col-xs-12.col-sm-5.col-sm-push-7.col-md-4.col-md-push-8.fade.in{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4 Ошибка
      %p Вы ввели неверные данные
    .container-fluid
      / Навигационная панель
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Название компании
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""}
                        Компания 1
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 2
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 3
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li.divider
                    %li
                      %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
              / Модальное окно добавления компании
              #company-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "company-add-modal-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &times;
                      %h4#company-add-modal-label.modal-title Добавить компанию
                    .modal-body
                      %form
                        .content
                          .row
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Название
                              %input#company-add-modal-name-input.form-control{:placeholder => "Название", :type => "text"}
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Описание
                              %textarea#company-add-modal-name-input.form-control{:placeholder => "Описание", :rows => "4"}
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                      %button.btn.btn-primary{:type => "button"} Сохранить
              / Модальное окно добавления компании
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => ""}
                      %span.glyphicon.glyphicon-bell
                      %span.badge 2
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => ""} Счет
                      %li
                        %a{:href => ""} Бонусы
                      %li
                        %a{:href => ""} Параметры
                      %li.divider
                      %li
                        %a{:href => ""}
                          Выйти
                          %span.glyphicon.glyphicon-off       / Навигационная панель
      .row
        #mainMenu.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-list
                Офферы
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-shopping-cart
                Товары
            %li.active
              %a{:href => ""}
                %span.glyphicon.glyphicon-user
                Сотрудники
                %span.sr-only (текущая)
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-usd
                Деньги
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-comment
                Сообщения
              %span.badge 1
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-stats
                Статистика
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-cog
                Параметры
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          %h1.page-header Сотрудники
          .row
            .col-md-3.col-md-push-9.col-sm-6.col-sm-push-6.col-xs-7.col-xs-push-5
              .form-group
                %label.sr-only{:for => "search"} Поиск
                %input.form-control{:autofocus => "", :name => "search", :placeholder => "Поиск", :type => "search"}
            .col-sm-6.col-sm-pull-6.col-md-pull-3.col-xs-5.col-xs-pull-7
              %button.btn.btn-primary{"data-target" => "#employees-add-modal", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-plus                 Добавить
          %br
            / Modal
            #employees-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-add-modal-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#employees-add-modal-label.modal-title Добавить сотрудника
                  .modal-body
                    %form
                      .content
                        .row
                          .form-group.col-xs-12
                            %label{:for => "offers-add-modal-company-input"} email
                            %input#offers-add-modal-company-input.form-control{:placeholder => "email", :type => "email"}
                          .form-group.col-xs-12
                            %label Роли
                            .checkbox
                              %label
                                %input{:checked => "", :type => "checkbox", :value => "1"}
                                  Админ
                            .checkbox
                              %label
                                %input{:type => "checkbox", :value => "2"}
                                  Кладовщик
                            .checkbox
                              %label
                                %input{:type => "checkbox", :value => "2"}
                                  Роль
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                    %button.btn.btn-primary{:type => "button"} Сохранить
            .row
              .col-md-12
                .responsive-table
                  %table.table.orders-table.table-hover
                    %thead
                      %tr
                        %th
                          .btn-group
                            %button.btn.btn-default.clearfix{:type => "button"} Роль
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                          .btn-group
                            %button.btn.btn-default{:type => "button"} Фамилия
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                          .btn-group
                            %button.btn.btn-default{:type => "button"} Имя
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                          .btn-group
                            %button.btn.btn-default{:type => "button"} email
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                        %th
                    %tbody
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td
                          %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Кладовщик
                        %td Бесбаев
                        %td Болат
                        %td bol.bes@mail.ru
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a.lock.off{"data-content" => "Запретить сотруднику работать в компании", "data-placement" => "left", "data-toggle" => "popover", "data-trigger" => "hover", :href => "", :title => "Заблокировать сотрудника"}
                            %span.glyphicon.glyphicon-lock
            / Модальное окно редактирование инфо о сотруднике
            #employees-list-employee-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-list-employee-modal-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#employees-list-employee-modal-label.modal-title Редактировать информацию о сотруднике
                  .modal-body
                    %form
                      .content
                        .row
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-firstname-input"} Имя
                            %input#employees-list-employee-modal-firstnam-input.form-control{:disabled => "", :placeholder => "Имя", :type => "text", :value => "Болат"}
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-lastname-input"} Фамилия
                            %input#employees-list-employee-modal-lastname-input.form-control{:disabled => "", :placeholder => "Фамилия", :type => "text", :value => "Бесбаев"}
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-description-input"} Пароль
                            %input#employees-list-employee-modal-description-input.form-control{:placeholder => "Пароль", :type => "password", :value => "12345678"}
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-company-input"} email
                            %input#employees-list-employee-modal-company-input.form-control{:placeholder => "email", :type => "email", :value => "bol.bes@mail.ru"}
                          .form-group.col-xs-12
                            %label Роли
                            .checkbox
                              %label
                                %input{:checked => "", :type => "checkbox", :value => "1"}
                                  Админ
                            .checkbox
                              %label
                                %input{:checked => "", :type => "checkbox", :value => "2"}
                                  Кладовщик
                            .checkbox
                              %label
                                %input{:type => "checkbox", :value => "2"}
                                  Роль
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                    %button.btn.btn-primary{:type => "button"} Сохранить
            / Модальное окно редактирование инфо о сотруднике
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
        :javascript
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
