app/views/markup/getlink.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Получить ссылку</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/global.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body>

    <div class="container-fluid">

      <!-- Навигационная панель -->
      <div class="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-shop-select dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Название компании <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="">Компания 1<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                  <li><a href="">Компания 2<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                  <li><a href="">Компания 3<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                  <li class="divider"></li>
                  <li><a href="" data-toggle="modal" data-target="#company-add-modal">Добавить компанию</a></li>
                </ul>
              </div>
            </div>

            <!-- Модальное окно добавления компании -->
            <div class="modal fade" id="company-add-modal" tabindex="-1" role="dialog" aria-labelledby="company-add-modal-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="company-add-modal-label">Добавить компанию</h4>
                  </div>

                  <div class="modal-body">
                    <form>
                      <div class="content">
                        <div class="row">

                          <div class="form-group col-xs-12">
                            <label for="company-add-modal-name-input">Название</label>
                            <input id="company-add-modal-name-input" type="text" class="form-control" placeholder="Название">
                          </div>

                          <div class="form-group col-xs-12">
                            <label for="company-add-modal-name-input">Описание</label>
                            <textarea id="company-add-modal-name-input" class="form-control" placeholder="Описание" rows="4"></textarea>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- Модальное окно добавления компании -->

            <div class="collapse navbar-collapse" id="navbar-user-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="">
                    <span class="glyphicon glyphicon-bell"></span>
                    <span class="badge">2</span>
                  </a>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Имя Пользователя <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Счет</a></li>
                    <li><a href="">Бонусы</a></li>
                    <li><a href="">Параметры</a></li>
                    <li class="divider"></li>
                    <li><a href="">Выйти <span class="glyphicon glyphicon-off"> </span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
      <!-- Навигационная панель -->

      <!--sidebar-->
      <div id="mainMenu" class="col-xs-2 col-md-1 sidebar">
        <div class="list-group">
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-list"></span>Офферы<span class="sr-only"> (текущая)</span></a>
          <a href="" class="list-group-item active"><span class="glyphicon glyphicon-shopping-cart"></span>Товары</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-user"></span>Сотрудники</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>Деньги</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-comment"></span>Сообщения<span class="badge">1</span></a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-stats"></span>Статистика</a>
        </div>
        <div class="list-group">
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-cog"></span> Параметры</a>
        </div>
      </div>
      <!--sidebar-->

      <div class="col-xs-10 col-xs-push-2 col-md-11 col-md-push-1 main">
          
        <div class="row">
          <div class="col-xs-12">
            <h1 class="page-header">Получение ссылки</h1>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4 slim">
            <div class="form-group col-xs-6">
              <lable for="old-price" class="control-label">Старая цена</lable>
              <input type="number" id="old-price" class="form-control" value="3000">
            </div>
            <div class="form-group col-xs-6">
              <lable for="new-price" class="control-label">Новая цена</lable>
              <input type="number" id="new-price" class="form-control" value="3000">
            </div>
            <div class="form-group col-xs-12">
              <lable for="domain" class="control-label">Домен</lable>
              <input type="url" id="domain" class="form-control" value="url.com - 3000 тенге">
            </div>
            <div class="form-group col-xs-12">
              <img src="http://images.visitcanberra.com.au/images/canberra_hero_image.jpg" class="img-responsive" alt="Не удалось загрузить изображение">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Передавать домен в URL к прокладке
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Альтернативные имена меток
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <h4>Метки</h4>
            </div>
            <div class="form-group col-xs-6">
              <lable for="utm_source" class="control-label">UTM_source</lable>
              <input type="text" id="utm_source" class="form-control">
            </div>
            <div class="form-group col-xs-6">
              <lable for="utm_medium" class="control-label">UTM_medium</lable>
              <input type="text" id="utm_medium" class="form-control">
            </div>
            <div class="form-group col-xs-4">
              <lable for="utm_campaign" class="control-label">UTM_campaign</lable>
              <input type="text" id="utm_campaign" class="form-control">
            </div>
            <div class="form-group col-xs-4">
              <lable for="utm_term" class="control-label">UTM_term</lable>
              <input type="text" id="utm_term" class="form-control">
            </div>
            <div class="form-group col-xs-4">
              <lable for="utm_content" class="control-label">UTM_content</lable>
              <input type="text" id="utm_content" class="form-control">
            </div>
            <div class="form-group col-xs-12 text-center">
              <button class="btn btn-primary">Получить ссылку</button>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="row">
              <h4>Главная страница</h4>
              <p>Ваша партнерская ссылка:</p>
              <pre>http://landing.com/index</pre>
            </div>
            <div class="row">
              <h4>Транзитные страницы</h4>
              <div class="form-group">
                <button class="btn btn-xs btn-default">Первая</button>
                <button class="btn btn-xs btn-default">Вторая</button>
              </div>
              <p>Ваша партнерская ссылка:</p>
              <pre>http://landing.com/index</pre>
              <img src="http://images.visitcanberra.com.au/images/canberra_hero_image.jpg" class="img-responsive" alt="Не удалось загрузить изображение">
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
    </script>

    <script type="text/javascript">
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
    </script>

  </body>
</html>

app/views/markup/getlink.html.haml
.col-xs-10.col-xs-push-2.col-md-11.col-md-push-1.main
  .row
  .col-xs-12
    %h1.page-header Получение ссылки
  .row
  .col-xs-12.col-sm-6.col-md-4.slim
    .form-group.col-xs-6
      %lable.control-label{:for => "old-price"} Старая цена
      %input#old-price.form-control{:type => "number", :value => "3000"}
    .form-group.col-xs-6
      %lable.control-label{:for => "new-price"} Новая цена
      %input#new-price.form-control{:type => "number", :value => "3000"}
    .form-group.col-xs-12
      %lable.control-label{:for => "domain"} Домен
      %input#domain.form-control{:type => "url", :value => "url.com - 3000 тенге"}
    .form-group.col-xs-12
      %img.img-responsive{:alt => "Не удалось загрузить изображение", :src => "http://images.visitcanberra.com.au/images/canberra_hero_image.jpg"}
        .checkbox
          %label
            %input{:type => "checkbox"}
              Передавать домен в URL к прокладке
        .checkbox
          %label
            %input{:type => "checkbox"}
              Альтернативные имена меток
    .col-xs-12
      %h4 Метки
    .form-group.col-xs-6
      %lable.control-label{:for => "utm_source"} UTM_source
      %input#utm_source.form-control{:type => "text"}
    .form-group.col-xs-6
      %lable.control-label{:for => "utm_medium"} UTM_medium
      %input#utm_medium.form-control{:type => "text"}
    .form-group.col-xs-4
      %lable.control-label{:for => "utm_campaign"} UTM_campaign
      %input#utm_campaign.form-control{:type => "text"}
    .form-group.col-xs-4
      %lable.control-label{:for => "utm_term"} UTM_term
      %input#utm_term.form-control{:type => "text"}
    .form-group.col-xs-4
      %lable.control-label{:for => "utm_content"} UTM_content
      %input#utm_content.form-control{:type => "text"}
    .form-group.col-xs-12.text-center
      %button.btn.btn-primary Получить ссылку
  .col-xs-12.col-sm-6.col-md-8
    .row
      %h4 Главная страница
      %p Ваша партнерская ссылка:
      %pre http://landing.com/index
    .row
      %h4 Транзитные страницы
      .form-group
        %button.btn.btn-xs.btn-default Первая
        %button.btn.btn-xs.btn-default Вторая
      %p Ваша партнерская ссылка:
      %pre http://landing.com/index
      %img.img-responsive{:alt => "Не удалось загрузить изображение", :src => "http://images.visitcanberra.com.au/images/canberra_hero_image.jpg"}
