app/views/markup/messages.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Заказы</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/global.css" rel="stylesheet">
    <link href="../../assets/stylesheets/advert.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body>

    <div class="container-fluid">

      <!--sidebar-->
      <div id="mainMenu" class="sidebar">

        <div class="sidebar-header">
          <a class="company" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
            ТОО "ZeroDay"
            <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <div id="collapseListGroup1" class="list-group collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="false">
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>Казахтелеком</a>
            <a href="" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>Google</a>
            <a href="" class="list-group-item add-company"><span class="glyphicon glyphicon-plus"></span>Добавить</a>
          </div>
        </div>

        <div class="list-group">
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-list"></span>Офферы<span class="sr-only"> (текущая)</span></a>
          <a href="" class="list-group-item active"><span class="glyphicon glyphicon-shopping-cart"></span>Товары</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-user"></span>Сотрудники</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>Биллинг</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-comment"></span>Сообщения<span class="badge">1</span></a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-stats"></span>Статистика</a>
        </div>

        <div class="list-group">
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-cog"></span> Параметры</a>
        </div>

      </div>
      <!--sidebar-->

      <!--content-->
      <div class="toolbar">
        <div class="account tab">
          <div class="avatar"></div>
          <div class="info">
            <p>Гильванов Марат</p>
            <small>mg71645@gmail.com</small>
          </div>
        </div>
        <div class="tab">
          <span class="glyphicon glyphicon-bell"></span><span class="badge">2</span>
        </div>
        <div class="tab">
          <span class="glyphicon glyphicon-comment"></span><span class="badge">1</span>
        </div>
      </div>

      <div class="header">
        <div class="col-xs-12 col-sm-6 col-md-9">
          <h1>Сообщения</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <input type="search" class="form-control" placeholder="Поиск" autofocus>
        </div>
      </div>

      <div class="main container">

        <div class="chat">

          <!--dialog-->
          <div class="dialog">

            <div class="line">
              <div class="message">
                <textarea rows="1">Начните набирать сообщение</textarea>
              </div>
            </div>

            <div class="line">
              <div class="message message-right" time="12:53">5 штук</div>
            </div>
            <div class="line">
              <div class="message message-right" time="12:53">как договаривались</div>
            </div>
            <div class="line">  
              <div class="message message-right" time="12:53">опана</div>
            </div>
            <div class="line">
              <div class="message message-left" time="12:53">пацаны по работе поехали</div>
            </div>
            <div class="line">
              <div class="message message-left" time="12:53">ок</div>
            </div>
            <div class="line">
              <div class="message message-right" time="12:53">я буду через час</div>
            </div>
            <div class="line">
              <div class="message message-left" time="12:53">я дома</div>
            </div>
            <div class="line">  
              <div class="message message-right" time="12:53">кто дома есть?</div>
            </div>
            
            <legend>Вчера</legend>


            <div class="line">
              <div class="message message-right" time="12:53">o_0</div>
            </div>
            <div class="line">
              <div class="message message-right" time="12:53">президент фонда Google Ventures готов выделить 425 миллионов долларов на исследования, которые позволят замедлить старение и продлить человеку жизнь.</div>
            </div>
            
          </div>
          <!--dialog-->

          <!--contacts-->
          <div class="contacts">
            <div class="contact">
              <div class="info">
                <p>
                  Мухамадиев Саят
                  <button class="icon-more"></button>
                  <button></button>
                </p>
                <small>Текст последнего сообщения овдыа одыл вао довыдла одлывоа длодылв df ао доы</small>
              </div>
            </div>
            <div class="list">
              <div class="contact">
                <div class="info">
                  <p>
                    Ауанасов Чингиз
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Уахитов Алмат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Кантаев Самат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Кравцов Алексей
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Ауанасов Ами
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Самтиков Ернар
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Зайкен Жанат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Даулетхан Адиль
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Телпекбаев Азамат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Аден Кристофер
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Аминов Султан
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Зейнуллин Маралбек
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Калиев Азамат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Сабыр Алмаз
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Калиев Жаксылык
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Шадат Азамат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Жиенбаев Султан
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Галым Азат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Рахымжанов Еркеш
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Бурмаганов Биржан
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Сексенбаев Ербол
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Рахмет Абай
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Алимов Марат
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Мухамеджанов Жаксылык
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Ахметов Аязбек
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Базарбеков Талгатбек
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Ибраев Тимур
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
              <div class="contact">
                <div class="info">
                  <p>
                    Жунусов Ерсаин
                    <button class="icon-more"></button>
                    <button></button>
                  </p>
                  <small>Текст последнего сообщения</small>
                </div>
              </div>
            </div>

          </div>
          <!--contacts-->

        </div>

      </div>
      <!--content-->

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script src="../../assets/javascripts/jquery.mousewheel.min.js"></script>
    <script src="../../assets/javascripts/mg.js"></script>

  </body>
</html>

app/views/markup/messages.html.haml
!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Заказы
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/advert.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / sidebar
      #mainMenu.sidebar
        .sidebar-header
          %a.company{"aria-controls" => "collapseListGroup1", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseListGroup1"}
            ТОО "ZeroDay"
            %span.glyphicon.glyphicon-chevron-down
          #collapseListGroup1.list-group.collapse{"aria-expanded" => "false", "aria-labelledby" => "collapseListGroupHeading1", :role => "tabpanel"}
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-pencil>
              Казахтелеком
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-pencil>
              Google
            %a.list-group-item.add-company{:href => ""}
              %span.glyphicon.glyphicon-plus>
              Добавить
        .list-group
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-list>
            Офферы
            %span.sr-only (текущая)
          %a.list-group-item.active{:href => ""}
            %span.glyphicon.glyphicon-shopping-cart>
            Товары
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-user>
            Сотрудники
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-usd>
            Биллинг
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-comment>
            Сообщения
            %span.badge 1
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-stats>
            Статистика
        .list-group
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-cog
            Параметры
      / sidebar
      / content
      .toolbar
        .account.tab
          .avatar
          .info
            %p Гильванов Марат
            %small mg71645@gmail.com
        .tab
          %span.glyphicon.glyphicon-bell
          %span.badge 2
        .tab
          %span.glyphicon.glyphicon-comment
          %span.badge 1
      .header
        .col-xs-12.col-sm-6.col-md-9
          %h1 Сообщения
        .col-xs-12.col-sm-6.col-md-3
          %input.form-control{:autofocus => "", :placeholder => "Поиск", :type => "search"}
      .main.container
        .chat
          / dialog
          .dialog
            .line
              .message
                %textarea{:rows => "1"} Начните набирать сообщение
            .line
              .message.message-right{:time => "12:53"} 5 штук
            .line
              .message.message-right{:time => "12:53"} как договаривались
            .line
              .message.message-right{:time => "12:53"} опана
            .line
              .message.message-left{:time => "12:53"} пацаны по работе поехали
            .line
              .message.message-left{:time => "12:53"} ок
            .line
              .message.message-right{:time => "12:53"} я буду через час
            .line
              .message.message-left{:time => "12:53"} я дома
            .line
              .message.message-right{:time => "12:53"} кто дома есть?
            %legend Вчера
            .line
              .message.message-right{:time => "12:53"} o_0
            .line
              .message.message-right{:time => "12:53"} президент фонда Google Ventures готов выделить 425 миллионов долларов на исследования, которые позволят замедлить старение и продлить человеку жизнь.
          / dialog
          / contacts
          .contacts
            .contact
              .info
                %p
                  Мухамадиев Саят
                  %button.icon-more
                  %button
                %small Текст последнего сообщения овдыа одыл вао довыдла одлывоа длодылв df ао доы
            .list
              .contact
                .info
                  %p
                    Ауанасов Чингиз
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Уахитов Алмат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Кантаев Самат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Кравцов Алексей
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Ауанасов Ами
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Самтиков Ернар
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Зайкен Жанат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Даулетхан Адиль
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Телпекбаев Азамат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Аден Кристофер
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Аминов Султан
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Зейнуллин Маралбек
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Калиев Азамат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Сабыр Алмаз
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Калиев Жаксылык
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Шадат Азамат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Жиенбаев Султан
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Галым Азат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Рахымжанов Еркеш
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Бурмаганов Биржан
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Сексенбаев Ербол
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Рахмет Абай
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Алимов Марат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Мухамеджанов Жаксылык
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Ахметов Аязбек
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Базарбеков Талгатбек
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Ибраев Тимур
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Жунусов Ерсаин
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
          / contacts
      / content
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "../../assets/javascripts/jquery.mousewheel.min.js"}
    %script{:src => "../../assets/javascripts/mg.js"}
