app/views/markup/offers.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Офферы</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/advert.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-fluid">

      <div class="row">
        <div class="header">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-shop-select dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Название магазина <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Магазин 1</a></li>
                    <li><a href="#">Магазин 2</a></li>
                    <li><a href="#">Магазин 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Добавить магазин</a></li>
                  </ul>
                </div>
              </div>

              <div class="collapse navbar-collapse" id="navbar-user-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Имя Пользователя <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Счет</a></li>
                      <li><a href="#">Бонусы</a></li>
                      <li><a href="#">Параметры</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Выйти</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>
          </nav>
        </div>
      </div>

      <div class="row">

        <div id="mainMenu" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" data-toggle="collapse" data-target="#menu-offers"><span class="glyphicon glyphicon-list"></span> Офферы <span class="sr-only">(текущая)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Товары</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-usd"></span> Деньги</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Сообщения</a><span class="badge">1</span></li>
            <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Статистика</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Параметры</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-push-3 col-md-10 col-md-push-2 main">
          
          <h1 class="page-header">Офферы</h1>

          <div class="row">

            <div class="col-md-3 col-md-push-9 col-sm-6 col-sm-push-6 col-xs-7 col-xs-push-5">
              <div class="form-group">
                <label for="search" class="sr-only">Поиск</label>
                <input name="search" type="search" class="form-control" placeholder="Поиск" autofocus><br>
              </div>
            </div>

            <div class="col-md-2 col-md-pull-3 col-sm-6 col-sm-pull-6 col-xs-5 col-xs-pull-7">
              <button class="btn btn-primary" data-toggle="modal" data-target="#offers-add-modal">
                <span class="glyphicon glyphicon-plus"> </span> Добавить
              </button>
            </div>

            <div class="col-md-4 col-md-pull-3 col-xs-12">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Все цели
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Все цели</a></li>
                    <li><a href="#">Покупка</a></li>
                    <li><a href="#">Установка приложения</a></li>
                    <li><a href="#">Регистрация</a></li>
                    <li><a href="#">Скачивание</a></li>
                  </ul>
                </div>

                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Все страны
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Все страны</a></li>
                    <li><a href="#">Казахстан</a></li>
                    <li><a href="#">Россия</a></li>
                    <li><a href="#">Украина</a></li>
                  </ul>
                </div>

              </div>
            </div>

          </div><br>

          <!-- Modal -->
          <div class="modal fade" id="offers-add-modal" tabindex="-1" role="dialog" aria-labelledby="offers-add-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Отмена"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="offers-add-modal-label">Добавить оффер</h4>
                </div>
                <div class="modal-body">
                  <form class="form">
                    <div class="row">
                      <div class="form-group col-sm-9">
                        <label for="offers-add-modal-name-input">Название</label>
                        <input id="offers-add-modal-name-input" type="text" class="form-control" placeholder="Название">
                      </div>
                      <div class="form-group col-sm-3">
                        <label>Доступ</label>
                        <div class="dropdown">
                          <button class="btn btn-success dropdown-toggle form-control" type="button" id="offers-add-modal-access" data-toggle="dropdown" aria-expanded="true">
                            Открыт
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="offers-add-modal-access">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Открыт</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Закрыт</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="offers-add-modal-image-add">Добавить изображение</label>
                        <input id="offers-add-modal-image-add" type="file" class="form-control file" placeholder="Местоположение файла в системе...">
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="offers-add-modal-description-input">Описание</label>
                        <input id="offers-add-modal-description-input" type="text" class="form-control" placeholder="Описание">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offers-add-modal-company-input">Компания</label>
                        <input id="offers-add-modal-company-input" type="text" class="form-control" placeholder="Компания">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offer-add-modal-country-input">Страна</label>
                        <input id="offer-add-modal-country-input" type="text" class="form-control" placeholder="Страна">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offer-add-modal-percent-input">Процент</label>
                        <div class="input-group">
                          <input id="offer-add-modal-percent-input" type="number" class="form-control" placeholder="Процент" aria-describedby="basic-addon2">
                          <span class="input-group-addon" id="basic-addon2">.00%</span>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offer-add-modal-price-input">Цена</label>
                        <div class="input-group">
                          <input id="offer-add-modal-price-input" type="number" class="form-control" placeholder="Цена" aria-describedby="basic-addon2">
                          <span class="input-group-addon" id="basic-addon2">.00тг</span>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offers-add-modal-lp-add">Landing page</label>
                        <div class="input-group">
                          <input id="offers-add-modal-lp-add" type="text" class="form-control" placeholder="Landing page">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Добавить</button>
                          </span>
                        </div>
                        <ul class="list-unstyled offers-add-modal-list-unstyled">
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            http:/web.com
                          </li>
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            http:/web.com
                          </li>
                        </ul>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offers-add-modal-tp-add">Transit page</label>
                        <div class="input-group">
                          <input id="offers-add-modal-tp-add" type="text" class="form-control" placeholder="Transit page">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Добавить</button>
                          </span>
                        </div>
                        <ul class="list-unstyled offers-add-modal-list-unstyled">
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            http:/web.com
                          </li>
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            http:/web.com
                          </li>
                        </ul>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offers-add-modal-country-add">Страны</label>
                        <div class="input-group">
                          <input id="offers-add-modal-country-add" type="text" class="form-control" placeholder="Страны">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Добавить</button>
                          </span>
                        </div>
                        <ul class="list-unstyled offers-add-modal-list-unstyled">
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            Казахстан
                          </li>
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            Россия
                          </li>
                        </ul>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="offers-add-modal-city-add">Города</label>
                        <div class="input-group">
                          <input id="offers-add-modal-city-add" type="text" class="form-control" placeholder="Города">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Добавить</button>
                          </span>
                        </div>
                        <ul class="list-unstyled offers-add-modal-list-unstyled">
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            Астана
                          </li>
                          <li>
                            <a href="#"><span class="glyphicon glyphicon-remove"> </span></a>
                            Москва
                          </li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="responsive-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Название</th>
                      <th>Цель</th>
                      <th>CR</th>
                      <th>EPC</th>
                      <th>Страна</th>
                      <th>Дата добавления</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="img-circle" src="img/image.jpg" height="80" width="80">
                      </td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                      <td><a href="#">Гель для похудения</td>
                      <td>Покупка</td>
                      <td>0,7%</td>
                      <td>22%</td>
                      <td>Казахстан</td>
                      <td>13 января 2015</td>
                      <td>
                        <a href="#">
                          <span class="glyphicon glyphicon-remove text-red"></span>
                        </a>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

app/views/markup/offers.html.haml
!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Офферы
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert.css", :rel => "stylesheet"}
              / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
              / WARNING: Respond.js doesn't work if you view the page via file://
              /[if lt IE 9]
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Название магазина
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Магазин 1
                    %li
                      %a{:href => "#"} Магазин 2
                    %li
                      %a{:href => "#"} Магазин 3
                    %li.divider
                    %li
                      %a{:href => "#"} Добавить магазин
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => "#"} Счет
                      %li
                        %a{:href => "#"} Бонусы
                      %li
                        %a{:href => "#"} Параметры
                      %li.divider
                      %li
                        %a{:href => "#"} Выйти
      .row
        #mainMenu.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.active
              %a{"data-target" => "#menu-offers", "data-toggle" => "collapse", :href => "#"}
                %span.glyphicon.glyphicon-list
                Офферы
                %span.sr-only (текущая)
          %ul.nav.nav-sidebar
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-shopping-cart
                Товары
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-usd
                Деньги
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-comment
                Сообщения
              %span.badge 1
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-stats
                Статистика
          %ul.nav.nav-sidebar
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-cog
                Параметры
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          %h1.page-header Офферы
          .row
            .col-md-3.col-md-push-9.col-sm-6.col-sm-push-6.col-xs-7.col-xs-push-5
              .form-group
                %label.sr-only{:for => "search"} Поиск
                %input.form-control{:autofocus => "", :name => "search", :placeholder => "Поиск", :type => "search"}
                  %br
            .col-md-2.col-md-pull-3.col-sm-6.col-sm-pull-6.col-xs-5.col-xs-pull-7
              %button.btn.btn-primary{"data-target" => "#offers-add-modal", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-plus                 Добавить
            .col-md-4.col-md-pull-3.col-xs-12
              .btn-group.btn-group-justified{"aria-label" => "...", :role => "group"}
                .btn-group{:role => "group"}
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                    Все цели
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Все цели
                    %li
                      %a{:href => "#"} Покупка
                    %li
                      %a{:href => "#"} Установка приложения
                    %li
                      %a{:href => "#"} Регистрация
                    %li
                      %a{:href => "#"} Скачивание
                .btn-group{:role => "group"}
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                    Все страны
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Все страны
                    %li
                      %a{:href => "#"} Казахстан
                    %li
                      %a{:href => "#"} Россия
                    %li
                      %a{:href => "#"} Украина
          %br
            / Modal
            #offers-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "offers-add-modal-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Отмена", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#offers-add-modal-label.modal-title Добавить оффер
                  .modal-body
                    %form.form
                      .row
                        .form-group.col-sm-9
                          %label{:for => "offers-add-modal-name-input"} Название
                          %input#offers-add-modal-name-input.form-control{:placeholder => "Название", :type => "text"}
                        .form-group.col-sm-3
                          %label Доступ
                          .dropdown
                            %button#offers-add-modal-access.btn.btn-success.dropdown-toggle.form-control{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
                              Открыт
                              %span.caret
                            %ul.dropdown-menu{"aria-labelledby" => "offers-add-modal-access", :role => "menu"}
                              %li{:role => "presentation"}
                                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Открыт
                              %li{:role => "presentation"}
                                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Закрыт
                        .form-group.col-sm-12
                          %label{:for => "offers-add-modal-description-input"} Описание
                          %input#offers-add-modal-description-input.form-control{:placeholder => "Описание", :type => "text"}
                        .form-group.col-sm-6
                          %label{:for => "offers-add-modal-company-input"} Компания
                          %input#offers-add-modal-company-input.form-control{:placeholder => "Компания", :type => "text"}
                        .form-group.col-sm-6
                          %label{:for => "offer-add-modal-country-input"} Страна
                          %input#offer-add-modal-country-input.form-control{:placeholder => "Страна", :type => "text"}
                        .form-group.col-sm-6
                          %label{:for => "offer-add-modal-percent-input"} Процент
                          .input-group
                            %input#offer-add-modal-percent-input.form-control{"aria-describedby" => "basic-addon2", :placeholder => "Процент", :type => "number"}
                              %span#basic-addon2.input-group-addon .00%
                        .form-group.col-sm-6
                          %label{:for => "offer-add-modal-price-input"} Цена
                          .input-group
                            %input#offer-add-modal-price-input.form-control{"aria-describedby" => "basic-addon2", :placeholder => "Цена", :type => "number"}
                              %span#basic-addon2.input-group-addon .00тг
                        .form-group.col-sm-6
                          %label{:for => "offers-add-modal-lp-add"} Landing page
                          .input-group
                            %input#offers-add-modal-lp-add.form-control{:placeholder => "Landing page", :type => "text"}
                              %span.input-group-btn
                                %button.btn.btn-default{:type => "button"} Добавить
                          %ul.list-unstyled.offers-add-modal-list-unstyled
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               http:/web.com
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               http:/web.com
                        .form-group.col-sm-6
                          %label{:for => "offers-add-modal-tp-add"} Transit page
                          .input-group
                            %input#offers-add-modal-tp-add.form-control{:placeholder => "Transit page", :type => "text"}
                              %span.input-group-btn
                                %button.btn.btn-default{:type => "button"} Добавить
                          %ul.list-unstyled.offers-add-modal-list-unstyled
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               http:/web.com
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               http:/web.com
                        .form-group.col-sm-6
                          %label{:for => "offers-add-modal-country-add"} Страны
                          .input-group
                            %input#offers-add-modal-country-add.form-control{:placeholder => "Страны", :type => "text"}
                              %span.input-group-btn
                                %button.btn.btn-default{:type => "button"} Добавить
                          %ul.list-unstyled.offers-add-modal-list-unstyled
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               Казахстан
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               Россия
                        .form-group.col-sm-6
                          %label{:for => "offers-add-modal-city-add"} Города
                          .input-group
                            %input#offers-add-modal-city-add.form-control{:placeholder => "Города", :type => "text"}
                              %span.input-group-btn
                                %button.btn.btn-default{:type => "button"} Добавить
                          %ul.list-unstyled.offers-add-modal-list-unstyled
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               Астана
                            %li
                              %a{:href => "#"}
                                %span.glyphicon.glyphicon-remove                               Москва
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                    %button.btn.btn-primary{:type => "button"} Сохранить
            .row
              .col-md-12
                .responsive-table
                  %table.table
                    %thead
                      %tr
                        %th
                        %th
                        %th Название
                        %th Цель
                        %th CR
                        %th EPC
                        %th Страна
                        %th Дата добавления
                    %tbody
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
                      %tr
                        %td
                          %img.img-circle{:height => "80", :src => "img/image.jpg", :width => "80"}
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a{:href => "#"} Гель для похудения
                        %td Покупка
                        %td 0,7%
                        %td 22%
                        %td Казахстан
                        %td 13 января 2015
                        %td
                          %a{:href => "#"}
                            %span.glyphicon.glyphicon-remove.text-red
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
