app/views/markup/signin.html.haml
!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CPA - Авторизация
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/sign.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container
      .row
        .col-xs-12
          %form.form-signin
            %h2.form-signin-heading Авторизация
            .form-group
              %label.sr-only{:for => "inputEmail"} Введите Email
              %input#inputEmail.form-control{:autofocus => "", :placeholder => "Ваш Email", :required => "", :type => "email"}/
            .form-group
              %label.sr-only{:for => "inputPassword"} Введите пароль
              %input#inputPassword.form-control{:placeholder => "Ваш пароль", :required => "", :type => "password"}/
            .checkbox
              %label
                %input{:type => "checkbox", :value => "remember-me"}/
                Запомнить меня
              .form-group
                %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Войти
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}

app/views/markup/signin.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Авторизация</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/sign.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

     <div class="row">

        <div class="col-xs-12">

          <form class="form-signin">
            <div class="form-group">
              <label for="inputEmail" class="control-label">Введите email</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Ваш email" required autofocus>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="control-label">Введите пароль</label>
              <div class="input-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Ваш пароль" required>
                <span class="input-group-addon glyphicon glyphicon-eye-open"></span>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </div>
            <p class="text-center">
              или
              <a href="/access/sign_up">Зарегистрироваться</a>
            </span>
          </form>

        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
