app/views/markup/warehouses.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Склады</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/advert/advert.css" rel="stylesheet">
    <link href="../../assets/stylesheets/global.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body>

    <div class="container-fluid">

      <!-- Навигационная панель -->
      <div class="row">
        <div class="header">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-shop-select dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Название компании <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Компания 1<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                    <li><a href="">Компания 2<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                    <li><a href="">Компания 3<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="" data-toggle="modal" data-target="#company-add-modal">Добавить компанию</a></li>
                  </ul>
                </div>
              </div>

              <div class="collapse navbar-collapse" id="navbar-user-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="">
                      <span class="glyphicon glyphicon-bell"></span>
                      <span class="badge">2</span>
                    </a>
                  </li>
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Имя Пользователя <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="">Счет</a></li>
                      <li><a href="">Бонусы</a></li>
                      <li><a href="">Параметры</a></li>
                      <li class="divider"></li>
                      <li><a href="">Выйти <span class="glyphicon glyphicon-off"> </span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>
          </nav>
        </div>
      </div>
      <!-- Навигационная панель -->

      <div class="row">

        <div id="mainMenu" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-list"></span> Офферы</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-shopping-cart"></span> Товары</a></li>
            <li class="active"><a href=""><span class="glyphicon glyphicon-user"></span> Сотрудники<span class="sr-only">(текущая)</span></a></li>
            <li><a href=""><span class="glyphicon glyphicon-usd"></span> Деньги</a></li>
            <li><a href=""><span class="glyphicon glyphicon-comment"></span> Сообщения</a><span class="badge">1</span></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span> Статистика</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><span class="glyphicon glyphicon-cog"></span> Параметры</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-push-3 col-md-10 col-md-push-2 main">

          <h1 class="page-header">Склады</h1>

          <div class="row">
            <div class="col-sm-6 col-xs-5">
              <button class="btn btn-primary" data-toggle="modal" data-target="#add-new-warehouse">
                <span class="glyphicon glyphicon-plus"> </span> Добавить
              </button>
            </div>
          </div>
          <br>

          <!-- Modal -->
          <div class="modal fade" id="add-new-warehouse" tabindex="-1" role="dialog" aria-labelledby="add-new-warehouse-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="add-new-warehouse-label">Добавить склад</h4>
                </div>

                <div class="modal-body">
                  <form>
                    <div class="content">
                      <div class="row">

                        <div class="form-group col-xs-12">
                          <label for="add-new-warehouse-name-input">Название</label>
                          <input id="add-new-warehouse-name-input" type="text" class="form-control" placeholder="Название">
                        </div>

                        <div class="form-group col-xs-12">
                          <label for="add-new-warehouse-location-input">Местонахождение</label>
                          <textarea id="add-new-warehouse-location-input" class="form-control" placeholder="Местонахождение" rows="4"></textarea>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary">Сохранить</button>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="responsive-table">
                <table class="table orders-table table-hover">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>Местонахождение</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <tr data-toggle="modal" data-target="#orders-info-modal">
                      <td>Склад 1</td>
                      <td>Казахстан, Акмолинская область, Астана, Абая, 10</td>
                      <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Модальное окно редактирование инфо о сотруднике -->
          <div class="modal fade" id="employees-list-employee-modal" tabindex="-1" role="dialog" aria-labelledby="employees-list-employee-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="employees-list-employee-modal-label">Редактировать информацию о сотруднике</h4>
                </div>

                <div class="modal-body">
                  <form>
                    <div class="content">
                      <div class="row">

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-firstname-input">Имя</label>
                          <input id="employees-list-employee-modal-firstnam-input" type="text" class="form-control" placeholder="Имя" value="Болат" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-lastname-input">Фамилия</label>
                          <input id="employees-list-employee-modal-lastname-input" type="text" class="form-control" placeholder="Фамилия" value="Бесбаев" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-description-input">Пароль</label>
                          <input id="employees-list-employee-modal-description-input" type="password" class="form-control" placeholder="Пароль" value="12345678">
                        </div>

                        <div class="form-group col-xs-6">
                          <label for="employees-list-employee-modal-company-input">email</label>
                          <input id="employees-list-employee-modal-company-input" type="email" class="form-control" placeholder="email" value="bol.bes@mail.ru">
                        </div>

                        <div class="form-group col-xs-12">
                          <label>Роли</label>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="1" checked>
                              Админ
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="2" checked>
                              Кладовщик
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="2">
                              Роль
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary">Сохранить</button>
                </div>

              </div>
            </div>
          </div>
          <!-- Модальное окно редактирование инфо о сотруднике -->

        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
    </script>

    <script type="text/javascript">
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
    </script>

  </body>
</html>

app/views/markup/warehouses.html.haml
!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Склады
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert/advert.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / Навигационная панель
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Название компании
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""}
                        Компания 1
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 2
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 3
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li.divider
                    %li
                      %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => ""}
                      %span.glyphicon.glyphicon-bell
                      %span.badge 2
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => ""} Счет
                      %li
                        %a{:href => ""} Бонусы
                      %li
                        %a{:href => ""} Параметры
                      %li.divider
                      %li
                        %a{:href => ""}
                          Выйти
                          %span.glyphicon.glyphicon-off       / Навигационная панель
      .row
        #mainMenu.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-list
                Офферы
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-shopping-cart
                Товары
            %li.active
              %a{:href => ""}
                %span.glyphicon.glyphicon-user
                Сотрудники
                %span.sr-only (текущая)
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-usd
                Деньги
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-comment
                Сообщения
              %span.badge 1
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-stats
                Статистика
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-cog
                Параметры
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          %h1.page-header Склады
          .row
            .col-sm-6.col-xs-5
              %button.btn.btn-primary{"data-target" => "#add-new-warehouse", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-plus                 Добавить
          %br
            .row
              .col-md-12
                .responsive-table
                  %table.table.orders-table.table-hover
                    %thead
                      %tr
                        %th Название
                        %th Местонахождение
                        %th
                    %tbody
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil

    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
        :javascript
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
