app/views/markup/warehouse.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPA - Склад</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/advert/advert.css" rel="stylesheet">
    <link href="../../assets/stylesheets/global.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body>

    <div class="container-fluid">

      <!-- Навигационная панель -->
      <div class="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-shop-select dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Название компании <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="">Компания 1<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                  <li><a href="">Компания 2<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                  <li><a href="">Компания 3<span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#company-add-modal"></span></a></li>
                  <li class="divider"></li>
                  <li><a href="" data-toggle="modal" data-target="#company-add-modal">Добавить компанию</a></li>
                </ul>
              </div>
            </div>

            <!-- Модальное окно добавления компании -->
            <div class="modal fade" id="company-add-modal" tabindex="-1" role="dialog" aria-labelledby="company-add-modal-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="company-add-modal-label">Добавить компанию</h4>
                  </div>

                  <div class="modal-body">
                    <form>
                      <div class="content">
                        <div class="row">

                          <div class="form-group col-xs-12">
                            <label for="company-add-modal-name-input">Название</label>
                            <input id="company-add-modal-name-input" type="text" class="form-control" placeholder="Название">
                          </div>

                          <div class="form-group col-xs-12">
                            <label for="company-add-modal-name-input">Описание</label>
                            <textarea id="company-add-modal-name-input" class="form-control" placeholder="Описание" rows="4"></textarea>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                  </div>

                </div>
              </div>
            </div>
            <!-- Модальное окно добавления компании -->

            <div class="collapse navbar-collapse" id="navbar-user-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="">
                    <span class="glyphicon glyphicon-bell"></span>
                    <span class="badge">2</span>
                  </a>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Имя Пользователя <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Счет</a></li>
                    <li><a href="">Бонусы</a></li>
                    <li><a href="">Параметры</a></li>
                    <li class="divider"></li>
                    <li><a href="">Выйти <span class="glyphicon glyphicon-off"> </span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
      <!-- Навигационная панель -->

      <!--sidebar-->
      <div id="mainMenu" class="col-xs-2 col-md-1 sidebar">
        <div class="list-group">
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-list"></span>Офферы<span class="sr-only"> (текущая)</span></a>
          <a href="" class="list-group-item active"><span class="glyphicon glyphicon-shopping-cart"></span>Товары</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-user"></span>Сотрудники</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>Деньги</a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-comment"></span>Сообщения<span class="badge">1</span></a>
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-stats"></span>Статистика</a>
        </div>
        <div class="list-group">
          <a href="" class="list-group-item"><span class="glyphicon glyphicon-cog"></span> Параметры</a>
        </div>
      </div>
      <!--sidebar-->

      <div class="col-xs-10 col-xs-push-2 col-md-11 col-md-push-1 main">
          
        <div class="modal modal-narrow fade" id="product-arrival" tabindex="-1" role="dialog" aria-labelledby="product-arrival-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="product-arrival-label">Приход товара</h4>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="content">
                                <div class="row">

                                    <div class="form-group col-xs-12">
                                        <label for="product-arrival-name-input">Наименование товара</label>
                                        <input id="product-arrival-name-input" type="text" class="form-control" placeholder="Наименование товара">
                                    </div>
                                    <div class="form-group col-xs-8">
                                        <label for="product-arrival-amount-input">Количество</label>
                                        <div class="input-group">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><span>-</span></button>
                            </span>
                                            <input type="text" class="form-control text-center" id="product-arrival-amount-input" value="1">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><span>+</span></button>
                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>

                </div>
            </div>
        </div>
          
        <div class="row">
          <div class="col-xs-12">
            <h1 class="page-header">Склад 1</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-9">
            <button class="btn btn-success" data-toggle="modal" data-target="#product-arrival">
              <span class="glyphicon glyphicon-arrow-down"></span>Приход товара
            </button>
            <button class="btn btn-default" data-toggle="modal" data-target="#product-outgo">
              <span class="glyphicon glyphicon-arrow-up"></span>Расход товара
            </button>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-3">
            <label for="search" class="sr-only">Поиск</label>
            <input name="search" type="search" class="form-control" placeholder="Поиск" autofocus>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#items-list">Все товары <strong>20</strong></a></li>
              <li role="presentation"><a href="">Учёт прихода</a></li>
              <li role="presentation"><a href="">Учёт расхода</a></li>
            </ul>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table orders-table table-hover">
            <tr>
              <th>Наименование товара</th>                        
              <th>Количество</th>
              <th></th>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            <tr data-toggle="modal" data-target="#orders-info-modal">
              <td>Товар 1</td>
              <td>12</td>
              <td><a href="" data-toggle="modal" data-target="#employees-list-employee-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
          </table>
        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
    </script>

    <script type="text/javascript">
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
    </script>

  </body>
</html>

app/views/markup/warehouse.html.haml
!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Склад
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert/advert.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / Навигационная панель
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Название компании
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""}
                        Компания 1
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 2
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 3
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li.divider
                    %li
                      %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
              / Модальное окно добавления компании
              #company-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "company-add-modal-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &times;
                      %h4#company-add-modal-label.modal-title Добавить компанию
                    .modal-body
                      %form
                        .content
                          .row
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Название
                              %input#company-add-modal-name-input.form-control{:placeholder => "Название", :type => "text"}
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Описание
                              %textarea#company-add-modal-name-input.form-control{:placeholder => "Описание", :rows => "4"}
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                      %button.btn.btn-primary{:type => "button"} Сохранить
              / Модальное окно добавления компании
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => ""}
                      %span.glyphicon.glyphicon-bell
                      %span.badge 2
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => ""} Счет
                      %li
                        %a{:href => ""} Бонусы
                      %li
                        %a{:href => ""} Параметры
                      %li.divider
                      %li
                        %a{:href => ""}
                          Выйти
                          %span.glyphicon.glyphicon-off       / Навигационная панель
      .row
        / sidebar
        #mainMenu.col-sm-3.col-md-2.sidebar
          .list-group
            %a.list-group-item.active{:href => ""}
              %span.glyphicon.glyphicon-list>
              Офферы
              %span.sr-only (текущая)
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-shopping-cart>
              Товары
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-user>
              Сотрудники
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-usd>
              Деньги
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-comment>
              Сообщения
              %span.badge 1
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-stats>
              Статистика
          .list-group
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-cog
              Параметры
        / sidebar
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          #product-arrival.modal.modal-narrow.fade{"aria-hidden" => "true", "aria-labelledby" => "product-arrival-label", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &times;
                  %h4#product-arrival-label.modal-title Приход товара
                .modal-body
                  %form
                    .content
                      .row
                        .form-group.col-xs-12
                          %label{:for => "product-arrival-name-input"} Наименование товара
                          %input#product-arrival-name-input.form-control{:placeholder => "Наименование товара", :type => "text"}
                        .form-group.col-xs-8
                          %label{:for => "product-arrival-amount-input"} Количество
                          .input-group
                            %span.input-group-btn
                              %button.btn.btn-default{:type => "button"}
                                %span -
                            %input#product-arrival-amount-input.form-control.text-center{:type => "text", :value => "1"}
                              %span.input-group-btn
                                %button.btn.btn-default{:type => "button"}
                                  %span +
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                  %button.btn.btn-primary{:type => "button"} Сохранить
          %h1.page-header Склад 1
          .row
            .col-xs-12.col-sm-5.col-sm-push-7.col-md-3.col-md-push-9
              .form-group
                %label.sr-only{:for => "search"} Поиск
                %input.form-control{:autofocus => "", :name => "search", :placeholder => "Поиск", :type => "search"}
            .col-xs-12.col-sm-7.col-sm-pull-5.col-md-9.col-md-pull-3
              %button.btn.btn-success{"data-target" => "#product-arrival", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-arrow-down                 Приход товара
              %button.btn.btn-danger{"data-target" => "#product-outgo", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-arrow-up                 Расход товара
          %br
            / Modal
            .row
              .col-xs-12
                %ul.nav.nav-tabs
                  %li.active{:role => "presentation"}
                    %a{:href => "#items-list"}
                      Все товары
                      %strong 20
                  %li{:role => "presentation"}
                    %a{:href => ""} Учёт прихода
                  %li{:role => "presentation"}
                    %a{:href => ""} Учёт расхода
            %br
              %br
                #items-list.row
                  .col-xs-12
                    .responsive-table
                      %table.table.orders-table.table-hover
                        %thead
                          %tr
                            %th Наименование товара
                            %th Количество
                            %th
                        %tbody
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                #arrival-list.row.hidden
                  .col-xs-12
                    .responsive-table
                      %table.table.orders-table.table-hover
                        %thead
                          %tr
                            %th Дата
                            %th Наименование товара
                            %th Количество
                            %th
                        %tbody
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
        :javascript
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });
